<?xml version="1.0"?>
<launch>
	<arg name="world_name" default="willow.world" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find sugv_gazebo)/worlds/$(arg world_name)" />
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

	
	<include file="$(find sugv_gazebo)/launch/spawn_sugv.launch" />

	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find sugv_navigation)/rviz/navigation.rviz"/>

	<include file="$(find sugv_navigation)/launch/mapping.launch" />

</launch>